
<div class="loginContent">
    <div class="card bg-gradient rounded">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="box">
          <a href="home"
              data-bs-toggle="tooltip"
              data-bs-class="custom-tooltip"
              data-bs-placement="top"
              title="GO HOME"
            >
          <h1>Inicie Sesion</h1></a>
          <p class="text-muted">Ingrese su email y password</p>
            <input
                class="form-control"
                value="email"
                type="email"
                formControlName="email"
                name="email"
                placeholder="email@example.com"
                [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
                />
                <div *ngIf="Email?.errors && Email?.touched">
                  <p *ngIf="Email?.hasError('required')" class="text-danger">
                    El email es requerido
                  </p>
                  <p *ngIf="Email?.hasError('email')" class="text-danger">
                    Ingrese un formato valido
                  </p>
                </div>
            <input
                class="form-control"
                type="password"
                name="password"
                placeholder="password de min 8 carateres"
                formControlName="password"
                [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}"
                />
                <div *ngIf="Password?.errors && Password?.touched">
                  <p *ngIf="Password?.hasError('required')" class="text-danger">
                    Password requerido
                  </p>
                  <p *ngIf="Password?.hasError('password')" class="text-danger">
                    Ingrese la cantidad de caracteres requeridos
                  </p>
                </div>
            <input
                type="submit"
                name=""
                value="Login"
                href="#" />
        </form>
    </div>
  </div>
</div>




