<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/argentina_programa-removebg-preview.png" id="logoAP" alt="LogoAP">
        </div>
        <div class="redes">     
                <a href="https://github.com/LoreLor"><img src="../../../assets/github.png" alt="GITHUB" id="github"></a>
                <a href="https://linkedin.com/in/lorena-de-armas"><img src="../../../assets/linkedin.png" alt="LINKEDIN" id="linkedin"></a>
                <a href=""><img src="../../../assets/facebook.png" alt="FACEBOOK" id="facebook"></a>
                <a href=""><img src="../../../assets/twitter.png" alt="TWITTER" id="twitter"></a>
                <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>
    </div>
</div>
