<div class="container col-md-6">
    <div class="card body">
      <div class="accordion" id="accordionExample2">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne2">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#agregarPersona"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              AGREGAR
            </button>
          </h2>
          <div
            id="agregarPersona"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne2"
            data-bs-parent="#accordionExample2"
          >
            <div class="accordion-body">
              <form #personaForm="ngForm">
                <div class="form-group">
                  <label class="labelform" for="nombres">Nombres:</label>
                  <input
                    class="form-control"
                    type="text"
                    id="nombres"
                    name="nombres"
                    minlength="3"
                    required
              
                    [(ngModel)]="persona.nombres"
                    #nombres="ngModel"
                    ngControl="nombres"
                    placeholder="introduce tus nombres"
                    [ngClass]="{'is-invalid':nombres?.errors && nombres?.touched, 'is-valid':!nombres?.errors && nombres?.touched}"
                  />
                  <div *ngIf="nombres?.errors && nombres?.touched">
                    <p *ngIf="nombres?.hasError('required')" class="text-danger">
                      Nombre o Nombres requeridos
                    </p>
                    <p *ngIf="nombres?.hasError('nombres')" class="text-danger">
                      Ingrese un formato valido 
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="apellidos">Apellidos:</label>
                  <input
                    type="text"
                    name="apellidos"
                    id="apellidos"
                    class="form-control"
                    placeholder="introduce tus apellidos"
                    minlength="3"
                    required
                    
                    #apellidos="ngModel"
                    ngControl="apellidos"
                    placeholder="introduce tus apellidos"
                    [(ngModel)]="persona.apellidos"
                    [ngClass]="{'is-invalid':apellidos?.errors && apellidos?.touched, 'is-valid':!apellidos?.errors && apellidos?.touched}"
                  />
                  <div *ngIf="apellidos?.errors && apellidos?.touched">
                    <p *ngIf="apellidos?.hasError('required')" class="text-danger">
                      Apellido o Apellidos requeridos
                    </p>
                    <p *ngIf="apellidos?.hasError('apellidos')" class="text-danger">
                      Ingrese un formato valido 
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="titulo">Titulo:</label>
                  <input
                    type="text"
                    name="titulo"
                    id="titulo"
                    class="form-control"
                    required
                    
                    placeholder="ocupacion - formacion"
                    ngControl="titulo"
                    [(ngModel)]="persona.titulo"
                    #titulo="ngModel"
                    [ngClass]="{'is-invalid':titulo?.errors && titulo?.touched, 'is-valid':!titulo?.errors && titulo?.touched}"
                  />
                  <div *ngIf="titulo?.errors && titulo?.touched">
                    <p *ngIf="titulo?.hasError('required')" class="text-danger">
                      Ocupacion requerida
                    </p>
                    <p *ngIf="titulo?.hasError('titulo')" class="text-danger">
                      Ingrese un formato valido 
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="descripcion">Descripcion:</label>
                  <input
                    type="text"
                    name="descripcion"
                    class="form-control"
                    id="descripcion"
                    required
                    
                    placeholder="introduce una breve descripcion acerca de ti"      
                    ngControl="descripcion"
                    #descripcion="ngModel"
                    [(ngModel)]="persona.descripcion"
                    [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.touched, 'is-valid':!descripcion?.errors && descripcion?.touched}"
                  />
                  <div *ngIf="descripcion?.errors && descripcion?.touched">
                    <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                      Descripcion requerida
                    </p>
                    <p *ngIf="descripcion?.hasError('descripcion')" class="text-danger">
                      Ingrese un formato valido 
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="imagenPerfil"
                    >Imagen de Perfil:</label
                  >
                  <input
                    type="file"
                    name="imagenPerfil"
                    id="imagenPerfil"
                    required
                    class="form-control"
                    placeholder="introduce una imagen"
                    (change)="changeImag($event)"
                    ngControl="imagenPerfil"
                    #imagenPerfil="ngModel"
                    [(ngModel)]="persona.imagenPerfil"
                    [ngClass]="{'is-invalid':imagenPerfil?.errors && imagenPerfil?.touched, 'is-valid':!imagenPerfil?.errors && imagenPerfil?.touched}"
                    />
                
                  <div *ngIf="imagenPerfil?.errors && imagenPerfil?.touched">
                    <p *ngIf="imagenPerfil?.hasError('required')" class="text-danger">
                      Foto de Perfil requerida
                    </p>
                    <p *ngIf="imagenPerfil?.hasError('imagenPerfil')" class="text-danger">
                      Ingrese un formato valido 
                    </p>
                  </div>
                </div>
                <button [disabled]="!personaForm.valid" type="button" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>