<div style="text-align: center;">
    <h1 class="titulo">Welcome to My Dashboard!!!</h1>
    
  </div>
  <div class="container"> 
    <app-acerca-de-mostrar></app-acerca-de-mostrar>
    <app-acerca-de-agregar></app-acerca-de-agregar>
    <app-acerca-de-editar></app-acerca-de-editar>
    <app-educacion-mostrar></app-educacion-mostrar>
    <app-educacion-agregar></app-educacion-agregar>
    <app-educacion-editar></app-educacion-editar>
    <app-hard-mostrar></app-hard-mostrar>
    <app-hard-agregar></app-hard-agregar>
    <app-hard-editar></app-hard-editar>
  </div>
  <router-outlet></router-outlet>