.titulo{
    background-color: rgb(215, 247, 203);  
  }

.container{
    margin-top: 50px;
    text-align: center;
}
 .botonContenedor{
    display: flex;
    justify-content:end;
    margin-right: 9.5%;
} 

.btn{
    border-color: #1ba708;
    color:#05215e ;
    font-weight: 600;
}
.btn:hover{
    background: linear-gradient(90deg, #46df09, #c8f036);
    border: linear-gradient(90deg, #50c322, #c3f021);   
    color:rgb(29, 16, 104);
    font-weight: 600;
    transform: scale(1.3);
}