<div style="text-align: center;">
    <h1 class="titulo">Welcome to My Dashboard!!!</h1>
  </div>
  <div class="botonContenedor">
    <button (click)="logout()"   type="button" class="btn btn-outline-light">LOGOUT</button>
</div>
  <div class="container"> 
    <div class="persona">
      <app-acerca-de-mostrar></app-acerca-de-mostrar>
      <app-acerca-de-agregar></app-acerca-de-agregar>
      <app-acerca-de-editar></app-acerca-de-editar>
    </div>
    <div class="educacion">
      <app-educacion-mostrar></app-educacion-mostrar>
      <app-educacion-agregar></app-educacion-agregar>
      <app-educacion-editar></app-educacion-editar>
    </div>
    <div class="hard">
      <app-hard-mostrar></app-hard-mostrar>
      <app-hard-agregar></app-hard-agregar>
      <app-hard-editar></app-hard-editar>
    </div>
    <div class="soft">
      <app-soft-mostrar></app-soft-mostrar>
      <app-soft-agregar></app-soft-agregar>
      <app-soft-editar></app-soft-editar>
    </div>
    <div class="experiencia">
      <app-experiencia-mostrar></app-experiencia-mostrar>
      <app-experiencia-agregar></app-experiencia-agregar>
      <app-experiencia-editar></app-experiencia-editar>
    </div>
    <div class="proyectos">
      <app-proyectos-mostrar></app-proyectos-mostrar>
      <app-proyectos-agregar></app-proyectos-agregar>
      <app-proyectos-editar></app-proyectos-editar>
    </div>
  </div>
  