<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample3">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne4">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarEducacion"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarEducacion"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne4"
          data-bs-parent="#accordionExample3"
        >
          <div class="accordion-body">
            <form [formGroup]="form">
              <div class="form-group">
                <label class="labelform" for="nombre">Educacion-Carrera:</label>
                <input
                  class="form-control"
                  type="text"
                  name="nombre"
                  placeholder="Agregar carrera o educacion"
                  formControlName="nombre"
                  [ngClass]="{'is-invalid':Nombre?.errors && Nombre?.touched, 'is-valid':!Nombre?.errors && Nombre?.touched}"
                />
                <div *ngIf="Nombre?.errors && Nombre?.touched">
                  <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                    Nombre de Carrera requerido
                  </p>
                  <p *ngIf="Nombre?.hasError('nombre')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="anios">Años:</label>
                <input
                  type="text"
                  name="anios"
                  class="form-control"
                  formControlName="anios"
                  placeholder="tiempo de estudios o cursada"
                  [ngClass]="{'is-invalid':Anios?.errors && Anios?.touched, 'is-valid':!Anios?.errors && Anios?.touched}"
                />
                <div *ngIf="Anios?.errors && Anios?.touched">
                  <p *ngIf="Anios?.hasError('required')" class="text-danger">
                    Duracion de estudios
                  </p>
                  <p *ngIf="Anios?.hasError('anios')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">Institucion:</label>
                <input
                  type="text"
                  name="descripcion"
                  class="form-control"
                  placeholder="institucion"
                  formControlName="descripcion"
                  [ngClass]="{'is-invalid':Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}"
                />
                <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                  <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                    Casa de estudios
                  </p>
                  <p *ngIf="Descripcion?.hasError('descripcion')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <button type="button" [disabled]="!form.valid" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
