<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample11">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne13">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarSoft"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarSoft"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne13"
          data-bs-parent="#accordionExample11"
        >
          <div class="accordion-body">
            <form action="">
              <div class="form-group">
                <label class="labelform" for="title">Nombre:</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="introduce nombre de soft skill"
                  [(ngModel)]="soft.title"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">Descripcion:</label>
                <input
                  type="text"
                  name="descripcion"
                  class="form-control"
                  placeholder="introduce una breve descripcion"
                  [(ngModel)]="soft.descripcion"
                />
              </div>
              <button (click)="guardar()" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
