<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample7">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne9">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarHard"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarHard"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne9"
          data-bs-parent="#accordionExample7"
        >
          <div class="accordion-body">
            <form #hardForm="ngForm">
              <div class="form-group">
                <label class="labelform" for="title">Nombre:</label>
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  id="title"
                  required
                           
                  placeholder="introduce nombre de tu hard skill"
                  ngControl="title"
                  [(ngModel)]="hardskill.title"
                  #title="ngModel"
                  [ngClass]="{'is-invalid':title?.errors && title?.touched, 'is-valid':!title?.errors && title?.touched}"
                />
                <div *ngIf="title?.errors && title?.touched">
                  <p *ngIf="title?.hasError('required')" class="text-danger">
                    Nombre de Hard Skill requerido
                  </p>
                  <p *ngIf="title?.hasError('title')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="percent">Pocentaje:</label>
                <input
                  class="form-control"
                  type="number"
                  min="1"
                  max="100"
                  name="percent"
                  id="percent"
                  required
                  pattern="[0-9]*"
                  ngControl="percent"
                  [(ngModel)]="hardskill.percent"
                  #percent="ngModel"
                  placeholder="introduce un porcentaje"
                  [ngClass]="{'is-invalid':percent?.errors && percent?.touched, 'is-valid':!percent?.errors && percent?.touched}"
                />
                <div *ngIf="percent?.errors && percent?.touched">
                  <p *ngIf="percent?.hasError('required')" class="text-danger">
                    Porcentaje requerido
                  </p>
                  <p *ngIf="percent?.hasError('pattern')|| percent?.hasError('min') || percent?.hasError('max')" class="text-danger">
                    Ingrese un formato valido min=1 - max=100
                  </p>
                </div>
              </div>
              <button type="button" [disabled]="!hardForm.valid" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
