<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample12">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne7">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarExperiencia"
            aria-expanded="false"
            aria-controls="collapseOne7"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarExperiencia"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne7"
          data-bs-parent="#accordionExample12"
        >
          <div class="accordion-body">
            <div class="atributos">
            <form #experienciaForm="ngForm">
              <div class="form-group">
                <label class="labelform" for="nombreTrabajo">Trabajo:</label>
                <input
                  class="form-control"
                  type="text"
                  id="nombreTrabajo"
                  name="nombreTrabajo"
                  minlength="3"
                  required
                  
                  [(ngModel)]="experiencia.nombreTrabajo"
                  #nombreTrabajo="ngModel"
                  ngControl="nombreTrabajo"
                  placeholder="introduce un trabajo"
                  [ngClass]="{'is-invalid':nombreTrabajo?.errors && nombreTrabajo?.touched, 'is-valid':!nombreTrabajo?.errors && nombreTrabajo?.touched}"
                />
                <div *ngIf="nombreTrabajo?.errors && nombreTrabajo?.touched">
                  <p *ngIf="nombreTrabajo?.hasError('required')" class="text-danger">
                    Empleo requerido
                  </p>
                  <p *ngIf="nombreTrabajo?.hasError('nombreTrabajo')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="anios">Años:</label>
                <input
                  type="text"
                  name="anios"
                  class="form-control"
                  required
                  [(ngModel)]="experiencia.anios"
                  #anios="ngModel"
                  ngControl="anios"
                  placeholder="introduce tiempo trabajado"
                  [ngClass]="{'is-invalid':anios?.errors && anios?.touched, 'is-valid':!anios?.errors && anios?.touched}"
                />
                <div *ngIf="anios?.errors && anios?.touched">
                  <p *ngIf="anios?.hasError('required')" class="text-danger">
                    Tiempo trabajado
                  </p>
                  <p *ngIf="anios?.hasError('anios')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">descripcion:</label>
                <input
                  type="text"
                  name="descripcion"
                  class="form-control"
                  required
                  
                  placeholder="empresa - otro"
                  ngControl="descripcion"
                  [(ngModel)]="experiencia.descripcion"
                  #descripcion="ngModel"
                  [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.touched, 'is-valid':!descripcion?.errors && descripcion?.touched}"
                />
                <div *ngIf="descripcion?.errors && descripcion?.touched">
                  <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                    Ingrese Empresa - Organizacion - Otros
                  </p>
                  <p *ngIf="descripcion?.hasError('descripcion')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <button type="button" [disabled]="!experienciaForm.valid" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
