<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample12">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne7">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarExperiencia"
            aria-expanded="false"
            aria-controls="collapseOne7"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarExperiencia"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne7"
          data-bs-parent="#accordionExample12"
        >
          <div class="accordion-body">
            <div class="atributos">
            <form [formGroup]="form">
              <div class="form-group">
                <label class="labelform" for="nombreTrabajo">Trabajo:</label>
                <input
                  class="form-control"
                  type="text"
                  name="nombreTrabajo"
                  formControlName="nombreTrabajo"
                  placeholder="introduce un trabajo"
                  [ngClass]="{'is-invalid':NombreTrabajo?.errors && NombreTrabajo?.touched, 'is-valid':!NombreTrabajo?.errors && NombreTrabajo?.touched}"
                />
                <div *ngIf="NombreTrabajo?.errors && NombreTrabajo?.touched">
                  <p *ngIf="NombreTrabajo?.hasError('required')" class="text-danger">
                    Empleo requerido
                  </p>
                  <p *ngIf="NombreTrabajo?.hasError('nombreTrabajo')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="anios">Años:</label>
                <input
                  type="text"
                  name="anios"
                  class="form-control"
                  formControlName="anios"
                  placeholder="introduce tiempo trabajado"
                  [ngClass]="{'is-invalid':Anios?.errors && Anios?.touched, 'is-valid':!Anios?.errors && Anios?.touched}"
                />
                <div *ngIf="Anios?.errors && Anios?.touched">
                  <p *ngIf="Anios?.hasError('required')" class="text-danger">
                    Tiempo trabajado
                  </p>
                  <p *ngIf="Anios?.hasError('anios')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">Descripcion:</label>
                <input
                  type="text"
                  name="descripcion"
                  class="form-control"
                  placeholder="empresa - otro"
                  formControlName="descripcion"
                  [ngClass]="{'is-invalid':Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}"
                />
                <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                  <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                    Ingrese Empresa - Organizacion - Otros
                  </p>
                  <p *ngIf="Descripcion?.hasError('descripcion')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <button type="button" [disabled]="!form.valid" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
