<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample7">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne9">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarHard"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarHard"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne9"
          data-bs-parent="#accordionExample7"
        >
          <div class="accordion-body">
            <form [formGroup]="form">
              <div class="form-group">
                <label class="labelform" for="nombre">Nombre:</label>
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  formControlName="title"
                  placeholder="introduce nombre de tu skill"
                  [ngClass]="{'is-invalid':Title?.errors && Title?.touched, 'is-valid':!Title?.errors && Title?.touched}"
                />
                <div *ngIf="Title?.errors && Title?.touched">
                  <p *ngIf="Title?.hasError('required')" class="text-danger">
                    Nombre de Skill requerido
                  </p>
                  <p *ngIf="Title?.hasError('title')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="percent">Pocentaje:</label>
                <input
                  class="form-control"
                  type="number"
                  min="1"
                  max="100"
                  name="percent"
                  formControlName="percent"
                  placeholder="introduce un porcentaje"
                  [ngClass]="{'is-invalid':Percent?.errors && Percent?.touched, 'is-valid':!Percent?.errors && Percent?.touched}"
                />
                <div *ngIf="Percent?.errors && Percent?.touched">
                  <p *ngIf="Percent?.hasError('required')" class="text-danger">
                    Porcentaje requerido
                  </p>
                  <p *ngIf="Percent?.hasError('percent')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <button type="button" [disabled]="!form.valid" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
