.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    background-color:  rgb(199, 143, 224);
    color: rgb(4, 3, 59);
}

.btn{
   margin-top: 15px;
    border-color: rgb(116, 23, 202);
    
}
.btn:hover{
    background: linear-gradient(90deg, rgb(116, 23, 202), rgb(199, 143, 224));
    border: linear-gradient(90deg, rgb(116, 23, 202), rgb(199, 143, 224));    
    color:aliceblue;
    font-weight: 600;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
label{
    margin: 5px;
}

.accordion{
    display: block;
    width: 70%;
}
.accordion-button{
    background-color:rgb(116, 23, 202);
    color: white;
    font-weight: 700;
    
}
.labelform {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
}

@media screen and (max-width: 770px) {
    .accordion{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .table{
        font-size:x-small;
    }
}
