<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarPersona"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarPersona"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <form action="controller" enctype="multipart/form-data">
              <div class="form-group">
                <label class="labelform" for="nombres">Nombres:</label>
                <input
                  type="text"
                  id="nombres"
                  name="nombres"
                  class="form-control"
                  placeholder="introduce tus nombres"
                  [(ngModel)]="persona.nombres"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="apellidos">Apellidos:</label>
                <input
                  type="text"
                  id="apellidos"
                  name="apellidos"
                  class="form-control"
                  placeholder="introduce tus apellidos"
                  [(ngModel)]="persona.apellidos"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="titulo">Titulo:</label>
                <input
                  type="text"
                  id="titulo"
                  name="titulo"
                  class="form-control"
                  placeholder="ocupacion - formacion"
                  [(ngModel)]="persona.titulo"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">Descripcion:</label>
                <input
                  type="text"
                  id="descripcion"
                  name="descripcion"
                  class="form-control"
                  placeholder="introduce una breve descripcion acerca de ti"
                  [(ngModel)]="persona.descripcion"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="imagenPerfil"
                  >Imagen de Perfil:</label
                >
                <input
                  type="file"
                  id="imagenPerfil"
                  name="imagenPerfil"
                  class="form-control"
                  placeholder="introduce una imagen"
                  (change)="changeImag($event)"
                  [(ngModel)]="persona.imagenPerfil"
                />
              </div>
              <button (click)="guardar()" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
