<div class="container col-md-6">
    <div class="card body">
      <div class="accordion" id="accordionExample9">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne11">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#agregarProyecto"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              AGREGAR
            </button>
          </h2>
          <div
            id="agregarProyecto"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne11"
            data-bs-parent="#accordionExample9"
          >
            <div class="accordion-body">
              <form [formGroup]="form" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="labelform" for="nombre">Proyecto:</label>
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    placeholder="proyecto"
                    formControlName="nombre"
                    [ngClass]="{'is-invalid':Nombre?.errors && Nombre?.touched, 'is-valid':!Stack?.errors && Stack?.touched}"
                />
                <div *ngIf="Nombre?.errors && Nombre?.touched">
                  <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                    Nombre del Proyecto requerido
                  </p>
                  <p *ngIf="Nombre?.hasError('nombre')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="stack">Stack:</label>
                  <input
                    class="form-control"
                    type="text"
                    name="stack"
                    placeholder="tech empleadas"
                    formControlName="stack"
                    [ngClass]="{'is-invalid':Stack?.errors && Stack?.touched, 'is-valid':!Stack?.errors && Stack?.touched}"
                />
                <div *ngIf="Stack?.errors && Stack?.touched">
                  <p *ngIf="Stack?.hasError('required')" class="text-danger">
                    Nombre de Tech requerido
                  </p>
                  <p *ngIf="Stack?.hasError('stack')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="descripcion">Descripcion:</label>
                  <input
                    type="text"
                    name="descripcion"
                    class="form-control"
                    placeholder="descripcion del proyecto"
                    formControlName="descripcion"
                    [ngClass]="{'is-invalid':Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}"
                    />
                    <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                      <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                        Nombre de Skill requerido
                      </p>
                      <p *ngIf="Descripcion?.hasError('descripcion')" class="text-danger">
                        Ingrese un formato valido 
                      </p>
                    </div>
                </div>
                <div class="form-group">
                  <label class="labelform" for="imagenProyecto"
                    >Imagen del Proyecto:</label
                  >
                  <input
                    type="file"
                    name="imagenProyecto"
                    class="form-control"
                    placeholder="introduce una captura de tu proyecto"
                    formControlName="imagenProyecto"
                    (change)="changeImag($event)"
                    [ngClass]="{'is-invalid':ImagenProyecto?.errors && ImagenProyecto?.touched, 'is-valid':!ImagenProyecto?.errors && Descripcion?.touched}"
                    />
                    <div *ngIf="ImagenProyecto?.errors && ImagenProyecto?.touched">
                      <p *ngIf="ImagenProyecto?.hasError('required')" class="text-danger">
                        Nombre de Skill requerido
                      </p>
                      <p *ngIf="ImagenProyecto?.hasError('imagenProyecto')" class="text-danger">
                        Ingrese un formato valido 
                      </p>
                    </div>
                </div>
                <button [disabled]="!form.valid" type="button" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
