<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h2>Educacion 1</h2> ~ <h3>(years)</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quos nemo, consequatur officia hic minus doloribus at dolor vel nobis adipisci voluptatibus impedit exercitationem debitis, maiores quasi tempore nisi!
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Educacion 2</h2> ~ 
                    <h3>(years)</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quos nemo, consequatur officia hic minus doloribus at dolor vel nobis adipisci voluptatibus impedit exercitationem debitis, maiores quasi tempore nisi!
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Educacion 3</h2> ~ 
                    <h3>(years)</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quos nemo, consequatur officia hic minus doloribus at dolor vel nobis adipisci voluptatibus impedit exercitationem debitis, maiores quasi tempore nisi!
                    </p>
                </li>
            </ul>
        </div>
    </div>


