<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo2.png" alt="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <p id="nombrep">Maria Lorena De Armas</p>
        <p>Full Stack Developer </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum neque in voluptates vitae. Expedita, nobis? Dolorum quae illum at blanditiis laborum debitis sed esse tempore, natus quis quo dicta optio.
            </p>
        </span>
    </div>
</div>

