img{
    width: 100%; 

}

.row{
    padding: 25px;
}
div{
    background-color: rgb(71, 235, 6);
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    font-size: 1.5rem ;
    margin-top: 2px;
}