.row{
  padding: 25px;
  max-width: 100%;
  background-color: rgb(215, 247, 203);
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
}


h2{
    display: inline;
    padding: 5px;
    font-size:1.5rem;
    color:darkgreen;
}
h3{
    display: inline;
    padding: 5px;
    font-size: 1.2rem;
}
p{
    display: flex;
    padding: 5px;
    font-size: 1rem;
}

h1 {
    animation-duration: 6s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }