.row{
    padding: 25px;
}

div{
  background-color: rgb(215, 247, 203);
  margin-top: 25px;
}


h2, h3{
    display: inline;
}

h1 {
    animation-duration: 6s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }