<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionExample11">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne13">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#agregarSoft"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            AGREGAR
          </button>
        </h2>
        <div
          id="agregarSoft"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne13"
          data-bs-parent="#accordionExample11"
        >
          <div class="accordion-body">
            <form #softForm="ngForm">
              <div class="form-group">
                <label class="labelform" for="title">Nombre:</label>
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  id="title"
                  
                  required 
                  [(ngModel)]="soft.title"
                  #title="ngModel"
                  ngControl="title"
                  placeholder="introduce nombre de soft skill"
                  [ngClass]="{'is-invalid':title?.errors && title?.touched, 'is-valid':!title?.errors && title?.touched}"
                />
                <div *ngIf="title?.errors && title?.touched">
                  <p *ngIf="title?.hasError('required')" class="text-danger">
                    Ingrese una Soft Skill
                  </p>
                  <p *ngIf="title?.hasError('title')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">descripcion:</label>
                <input
                  class="form-control"
                  type="text"
                  name="descripcion"
                  id="descripcion"
                  required 
                  
                  placeholder="introduce una breve descripcion"
                  [(ngModel)]="soft.descripcion"
                  #descripcion="ngModel"
                  ngControl="descripcion"
                  [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.touched, 'is-valid':!descripcion?.errors && descripcion?.touched}"
                />
                <div *ngIf="descripcion?.errors && descripcion?.touched">
                  <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                    Ingrese breve descripcion de Softskill
                  </p>
                  <p *ngIf="descripcion?.hasError('descripcion')" class="text-danger">
                    Ingrese un formato valido 
                  </p>
              </div>
              </div>
              <button type="button" [disabled]="!softForm.valid" (click)="guardar($event)" class="btn btn-ligth">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
