<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#editarHard"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne"
          >
            EDITAR
          </button>
        </h2>
        <div
          id="editarHard"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body">
            <form action="">
              <div class="form-group">
                <label class="labelform" for="title">Nombre:</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  [(ngModel)]="hardskill.title"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="porcent">Porcentaje:</label>
                <input
                  type="number"
                  min="1"
                  max="100"
                  name="percent"
                  class="form-control"
                  placeholder="introduce un porcentaje"
                  [(ngModel)]="hardskill.percent"
                />
              </div>
              <button (click)="actualizar()" class="btn btn-ligth">
                Actualizar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
