<div>
  <app-header></app-header>
  <app-acerca-de></app-acerca-de>
  <app-skills></app-skills>
  <app-educacion></app-educacion>
  <app-experiencia></app-experiencia>
  <app-proyectos></app-proyectos>
  <app-footer></app-footer>
  <div class="bubble">
    <img src="../../../assets/bubble1.png" alt="buble" />
    <img src="../../../assets/bubble_6.png" alt="buble" />
    <img src="../../../assets/bubble1.png" alt="buble" />
    <img src="../../../assets/bubble_3.png" alt="buble" />
    <img src="../../../assets/bubble1.png" alt="buble" />
    <img src="../../../assets/bubble_2.png" alt="buble" />
    <img src="../../../assets/bubble1.png" alt="buble" />
    <img src="../../../assets/bubble_6.png" alt="buble" />
    <img src="../../../assets/bubble1.png" alt="buble" />
    <img src="../../../assets/bubble_3.png" alt="buble" />
    <img src="../../../assets/bubble1.png" alt="buble" />
    <img src="../../../assets/bubble_2.png" alt="buble" />
  </div>
</div>
