<div class="container col-md-6">
  <div class="card body">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#editarEducacion"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne"
          >
            EDITAR
          </button>
        </h2>
        <div
          id="editarEducacion"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body">
            <form action="">
              <div class="form-group">
                <label class="labelform" for="nombre">Carrera:</label>
                <input
                  type="text"
                  id="nombre"
                  name="nombre"
                  class="form-control"
                  [(ngModel)]="educacion.nombre"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="anios">Años:</label>
                <input
                  type="text"
                  id="anios"
                  name="anios"
                  class="form-control"
                  [(ngModel)]="educacion.anios"
                />
              </div>
              <div class="form-group">
                <label class="labelform" for="descripcion">Institucion:</label>
                <input
                  type="text"
                  id="descripcion"
                  name="descripcion"
                  class="form-control"
                  [(ngModel)]="educacion.descripcion"
                />
              </div>
              <button (click)="actualizar()" class="btn btn-ligth">
                Actualizar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
