<div class=".container">
    <div class="row">
        <h1>Hard Skills</h1>
        <div class="circle">
        <div class="col-lg-11" *ngFor="let hardskill of hardskills" >
            <circle-progress                   
                    [percent]="hardskill.percent"
                    [radius]="60"
                    [title]="hardskill.title"
                    [titleColor]="'#10dd09'"
                    [titleFontSize]="'19'"
                    [titleFontWeight]="'600'"
                    [units]="''"
                    [responsive]="true"
                    [showTitle]="true"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'#10dd09'"
                    [outerStrokeGradientStopColor]="'#c8f036'"
                    [outerStrokeGradient]="true"
                    [backgroundColor]="''"
                    [animation]="true"
                    [animationDuration]="600"
                    [lazy]="true"
            ></circle-progress>
        </div>
            </div>
                </div>
            <div class="row">
                <h1>Soft Skills</h1>
                <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <ul *ngFor="let soft of softs">
                    <li>
                        <p>{{soft.title}}</p>  
                    </li>
                </ul>
            </div>
        </div>
    </div>

