<div class=".container">
    <div class="row">
        <h1>Hard Skills</h1>
        <div class="col-lg-1"></div>
        <div class="text-center col-lg-11">
            <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../../assets/react-trnsparente.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="180"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [innerStrokeColor]="'black'"
            [outerStrokeColor]="'rgb(71, 235, 6)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../../assets/redux.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [innerStrokeColor]="'black'"
            [outerStrokeColor]="'rgb(71, 235, 6)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../../assets/node-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="90"
                    [imageWidth]="150"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/postgres-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="90"
                    [imageWidth]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/mongoDB-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="90"
                    [imageWidth]="140"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/angular-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="60"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/mysql-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/spring_boot-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="50"
                    [imageWidth]="80"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/postman-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="140"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/html-js-css-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="50"
                    [imageWidth]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/scrum-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="100"
                    [imageWidth]="130"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/trello.jpg'"
                    [showImage]="true"
                    [imageHeight]="50"
                    [imageWidth]="80"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>   
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/boostrap-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="85"
                    [imageWidth]="130"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>     
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/GitHub-Logo.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="90"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress> 
                    <circle-progress
                    [percent]="85"
                    [radius]="70"
                    [imageSrc]="'../../../assets/ingles-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="110"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>                           
                </div>
                
                <div>
                    <h1>Soft Skills</h1>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <ul>
                            <li>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum iure cupiditate repellat doloribus, quo facere molestiae amet? Cumque odio iure at minima dolore consectetur tenetur! Expedita sequi saepe quod!
                        </p>  
                    </li>
                    <li>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum iure cupiditate repellat doloribus, quo facere molestiae amet? Cumque odio iure at minima dolore consectetur tenetur! Expedita sequi saepe quod!
                        </p>  
                    </li>
                    <li>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum iure cupiditate repellat doloribus, quo facere molestiae amet? Cumque odio iure at minima dolore consectetur tenetur! Expedita sequi saepe quod!
                        </p>  
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
