<div class=".container">
    <div class="row">
        <h1>Hard Skills</h1>
        <div class="circle">
        <div class="col-lg-11" *ngFor="let hardskill of hardskills" >
            <circle-progress                   
                    [percent]="hardskill.percent"
                    [radius]="60"
                    [title]="hardskill.title"
                    [titleColor]="'#10dd09'"
                    [titleFontSize]="'19'"
                    [titleFontWeight]="'600'"
                    [units]="''"
                    [responsive]="true"
                    [showTitle]="true"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'#10dd09'"
                    [outerStrokeGradientStopColor]="'#c8f036'"
                    [outerStrokeGradient]="true"
                    [backgroundColor]="''"
                    [animation]="true"
                    [animationDuration]="600"
                    [lazy]="true"
            ></circle-progress>
        </div>
        
            <!-- <circle-progress 
                    [accessKey]="hardskill.title"
                    [percent]="hardskill.percent"
                    [radius]="50"
                    [title]="hardskill.title"
                    [imageSrc]="'../../../assets/redux.png'"
                    [showImage]="true"
                    [imageHeight]="40"
                    [imageWidth]="40"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
            ></circle-progress>
            <circle-progress
                    [accessKey]="hardskill.title"
                    [percent]="hardskill.percent"
                    [radius]="50"
                    [imageSrc]="'../../../assets/node-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="110"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/postgres-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="70"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/mongoDB-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/angular-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="50"
                    [imageWidth]="50"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/mysql-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="65"
                    [imageWidth]="65"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/spring_boot-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="45"
                    [imageWidth]="70"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/postman-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="125"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/html-js-css-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="45"
                    [imageWidth]="70"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/scrum-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="95"
                    [imageWidth]="125"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/trello.jpg'"
                    [showImage]="true"
                    [imageHeight]="35"
                    [imageWidth]="60"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>   
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/boostrap-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="115"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>     
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/GitHub-Logo.png'"
                    [showImage]="true"
                    [imageHeight]="50"
                    [imageWidth]="80"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress> 
                    <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [imageSrc]="'../../../assets/ingles-transparente.png'"
                    [showImage]="true"
                    [imageHeight]="55"
                    [imageWidth]="95"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="3"
                    [innerStrokeColor]="'black'"
                    [outerStrokeColor]="'rgb(71, 235, 6)'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>                            -->
                </div>
                </div>
            <div class="row">
                <h1>Soft Skills</h1>
                <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <ul *ngFor="let soft of softs">
                    <li>
                        <p>{{soft.title}}</p>  
                    </li>
                </ul>
            </div>
        </div>
    </div>

